<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
    namespace：必须与对应的接口mapper.java全类名一致
    id:必须与对应接口mapper.java的某个对应的方法名一致
 -->
<mapper namespace="com.xxx.demo.mapper.user.TsUserMapper">

    <!--数据库表字段名与models中类属性对应关系-->
    <resultMap id="BaseResultMap" type="TsUser">
        <id column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <id column="PHONE_NUM" property="phoneNum" jdbcType="VARCHAR"/>
        <id column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <id column="IS_EFFCTIVE" property="isEffctive" jdbcType="TINYINT"/>
        <id column="CREATE_DATE" property="createTime" jdbcType="DATE"/>
        <id column="TOKEN" property="token" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="tableName">
      TS_USER
    </sql>

    <sql id="baseColumns">
    USER_ID,PHONE_NUM,PASSWORD,IS_EFFCTIVE,CREATE_DATE,TOKEN
    </sql>

    <select id="findById" resultMap="BaseResultMap">
		select <include refid="baseColumns"/>
        from <include refid="tableName"/>
        where USER_ID = #{userId}
	</select>

    <select id="findEffctiveByPhoneNum" resultMap="BaseResultMap">
        select <include refid="baseColumns"/>
        from  <include refid="tableName"/>
        where PHONE_NUM = #{phoneNum} and IS_EFFCTIVE = 1
    </select>

    <insert id="save" parameterType="TsUser">
        insert into  <include refid="tableName"/> (<include refid="baseColumns"/>)
        VALUES (#{userId},#{phoneNum},#{password},#{isEffctive},#{createTime},#{token})
    </insert>

    <delete id="delete" parameterType="string">
        delete from  <include refid="tableName"/> where USER_ID=#{userId}
    </delete>

    <update id="update" parameterType="TsUser">
        UPDATE
        <include refid="tableName" />

        <trim prefix="SET" suffixOverrides=",">
            <if test="phoneNum!=null and phoneNum!='' ">
                PHONE_NUM = #{phoneNum},
            </if>
            <if test="password!=null and password!='' ">
                PASSWORD = #{password},
            </if>
            <if test="isEffctive!=null ">
                IS_EFFCTIVE = #{isEffctive},
            </if>
            <if test="token!=null and token!='' ">
                TOKEN = #{token},
            </if>
        </trim>
        WHERE
        USER_ID = #{userId} and IS_EFFCTIVE = 1
    </update>

    <update id="updatePassword">
        UPDATE
        <include refid="tableName" />

        <trim prefix="SET" suffixOverrides=",">
            <if test="password!=null and password!='' ">
                PASSWORD = #{newPassword},
            </if>
        </trim>
        WHERE
        USER_ID = #{userId} AND PASSWORD = #{oldPassword} and IS_EFFCTIVE = 1
    </update>


    <update id="reSetPassword">
        UPDATE
        <include refid="tableName" />

        <trim prefix="SET" suffixOverrides=",">
            <if test="newPassword!=null and newPassword!='' ">
                PASSWORD = #{newPassword},
            </if>
        </trim>
        WHERE
        PHONE_NUM = #{phoneNum} and IS_EFFCTIVE = 1
    </update>

</mapper>