<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<meta http-equiv="Content-Language" content="zh-cn" />

<title>Privacy Policy For ACV</title>
</head>

<body>

<p>
The App called "Smart Infiniti" is the app that more conveniently operate the car for Infiniti 's customer.
</p>

<p>
In this App, the car owner can remote control his car, check the state and so on.
</p>

<p>
The data in App are belongs ACV all, the ACV has the ultimate right of interpretation.And the data in App will not be leaked to any party. Abide by national laws and conduct anonymity.Below are the introductions of App:
</p>

<p>
a. The users of App are the Infiniti customer.
</p>

<p>
b. This App is only use to operate the car and view the car info, not use to sale the car, and sale the parts.
</p>

<p>
c. This version App has a function called demo mode. It make more "don't have a car" people to know the functions of App.
</p>

<p>
d. If you have any questions, you can contact the ACV.
</p>

</body>

</html>
